<!-- medecin-landing.component.html -->
<div class="landing-container">
  <app-side-bar></app-side-bar>
  
  <main class="main-content">
    <app-bienvenu-component [userName]="userName" ></app-bienvenu-component>
    <app-search-bar 
      (search)="onSearch($event)"
      (scanQR)="onScanQR()">
    </app-search-bar>
    <app-qr-scanner 
    *ngIf="isQrScannerVisible" 
    [isVisible]="isQrScannerVisible"
    (closePopup)="onCloseScanner()">
    </app-qr-scanner>
    <app-medecin-table [searchResults]="results"></app-medecin-table>
  </main>
</div>
