<div class="consultation-container">
    <div class="header-grid">
        <div>NOM</div>
        <div>PRENOM</div>
        <div>NSS</div>
        <div></div>
    
    </div>
    
    <div *ngFor="let patient of displayedPatients" class="consultation-row">
    <div>{{ patient.nom}}</div>
    <div>{{ patient.prenom}}</div>
    <div>{{ patient.nss }}</div>
    <div class="button-container">
    <button class="consult-button" (click)="openRedigerSoins(patient)">
     Rediger soins
    </button>
    </div>
    </div>
    </div>
    