
<div class="ordonnanceContainer">
  <div class="Ordonnance" [formGroup]="ordonnanceForm">
    <div class="header">
      <div class="hospitalInfo">
        <p>Dr. {{ medecin.first_name }} {{ medecin.last_name }}</p>
        <p>Médecin {{ medecin.specialite }}</p>
      </div>
      <div class="patientInfo">
        <p>
          Alger, le: 
          <input type="date" formControlName="date" />
        </p>
        <p>
          Nom: 
          <input type="text" formControlName="lastName" placeholder="..........................." />
        </p>
        <p>
          Prénom(s): 
          <input type="text" formControlName="firstName" placeholder="..........................." />
        </p>
        <p>
          Age: 
          <input type="number" formControlName="age" placeholder="..........................." /> ans
        </p>
        <p>
          nss: 
          <input type="number" formControlName="nss" placeholder="..........................." /> 
        </p>
      </div>
    </div>
    <div class="contenu">
      <div class="title">
        <h2>ORDONNANCE</h2>
      </div>
      <div formArrayName="medications" class="prescriptions-container">
        <div *ngFor="let entry of medications.controls; let i = index" [formGroupName]="i" class="prescription-line">
          <input formControlName="medication" placeholder="Médicament"  />
          <input formControlName="dose" placeholder="Dose" />
          <input formControlName="instructions" placeholder="Instructions"  />
        </div>
      </div>
      <div class="button-container">
        <button *ngIf="!isConfirmed" type="button" class="add-button" (click)="addNewLine()">
          Ajouter une ligne
        </button>
        <button *ngIf="!isConfirmed" type="button" class="confirm-button" (click)="confirmPrescription()">
          Confirmer
        </button>
      </div>
    </div>
  </div>
</div>