<div class="alert-container">
    <div class="success-alert">
      <div class="content-wrapper">
        <div class="icon-container">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"></path>
          </svg>
        </div>
        <div>
          <p class="alert-text">{{title}} </p>
          <p class="alert-description">{{description}}</p>
        </div>
      </div>
      <button class="close-button">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
  </div>