<div class="consultation-container">
<div class="header-grid">
    <div>DATE</div>
    <div>MEDECIN</div>
    <div>SPECIALITE</div>
    <div></div>

</div>

<div *ngFor="let consultation of consultations" class="consultation-row">
<div>{{ consultation.date }}</div>
<div>Dr. {{ consultation.medecin_last_name}}</div>
<div>{{ consultation.medecin_specialite }}</div>
<div class="button-container">
<button class="consult-button" (click)="onConsult(consultation.id)">
 Consulter
</button>
</div>
</div>


</div>
