<aside [class.hidden]="!isSidebarOpen && isMobileView" class="sidebar">
  <!-- Logo Section -->
  <div class="logo-container">
    <img src="../../../assets/Vector.png" alt="MedFlow Icon" class="logo-svg" />
    <img
      src="../../../assets/MedFlowLogo.svg"
      alt="MedFlow Logo"
      class="logo-text"
    />
  </div>

  <!-- Menu Section -->
  <div class="menu">
    <!-- Dashboard -->
    <div class="menu-item" (click)="navigateTo('dashboard')">
      <fa-icon [icon]="faHome" class="menu-icon"></fa-icon>
      <span>Dashboard</span>
    </div>

    <!-- Gestion des Patients -->
    <div class="menu-item fixed" (click)="navigateTo('patients')">
      <fa-icon [icon]="faUserGear" class="menu-icon"></fa-icon>
      <span>Gestion des patients</span>
    </div>
  </div>
</aside>

<!-- Hamburger Menu -->
<button
  *ngIf="isMobileView"
  class="hamburger-menu"
  (click)="toggleSidebar()"
  type="button"
  aria-label="Toggle navigation menu"
  title="Toggle Menu"
>
  <fa-icon [icon]="faBars" class="hamburger-icon"></fa-icon>
</button>
