<div class="h-screen w-64 bg-white-800 text-white flex flex-col p-4">
  <!-- Logo Section -->
  <div class="mb-6">
    <img src="/logo.svg" alt="MedFlow Logo" class="logo-image mx-auto" />
  </div>

  <!-- Menu Section -->
  <div class="flex-grow flex flex-col space-y-4">
    <!-- First Button -->
    <button
      class="flex items-center p-2 w-full text-left mb-2 rounded bg-gray-700 hover:bg-gray-600 transition"
    >
      <img src="assets/manage.svg" alt="Gestion des comptes" />
      <span class="text-sm font-medium">Gestion des comptes</span>
    </button>

    <!-- Second Button -->
    <button
      class="flex items-center p-2 w-full text-left mb-2 rounded bg-blue-600 hover:bg-blue-500 transition"
    >
      <img src="assets/add.svg" alt="Ajouter dossier" />
      <span class="text-sm font-medium">Ajouter dossier</span>
    </button>
  </div>
</div>
