<div class="card">
  <div class="card-header">
    <div class="header-left">
      <div class="NomPrenom">
        <div><strong>Nom :</strong> {{user.nom}}</div>
        <div><strong>Prénom :</strong> {{user.prenom}}</div>
      
      </div>
      
    </div>
    <div class="header-right">
      <img *ngIf="user.qrCode" [src]="getQRCodeSrc()" alt="QR Code">
    </div>
  </div>
  <div class="card-content">
    <div class="A"><strong>Numéro de sécurité sociale :</strong> {{user.insurance}}</div>
    <div class="A"><strong>Adresse :</strong> {{user.address}}</div>
    <div class="A"><strong>Numéro de téléphone :</strong> {{user.phone}}</div>
    <div class="A"><strong>Mutuelle :</strong> {{user.mutuelle}}</div>
    <div class="contact-person">
      <div><strong>Personne à contacter :</strong></div>
      <div> <strong>Nom : </strong> {{user.contactName}}</div>
      <div> <strong>Prénom : </strong> {{user.contactPrenom}}</div>
      <div>{{user.contactPhone}}</div>
    </div>
    <div class="A"><strong>Médecin traitant : </strong> {{user.doctors}}</div>
    <div class="A"><strong>Antécédants médicaux :</strong></div>
    <div class="medical-history">
      {{user.medicalHistory}}
    </div>
  </div>
</div>
