<div class="bilan-container">
  <div [formGroup]="parentForm">
    <div formArrayName="bilan">
      <div *ngFor="let control of bilanArray.controls; let i = index; trackBy: trackByIndex">
        <input [formControlName]="i" type="text" (keyup.enter)="addBilan()" 
               placeholder="Bilan test {{i + 1}}" />
      </div>
    </div>
    <div class="but" *ngIf="!bilanArray.disabled">
      <button *ngIf="!isConfirmed" type="button" (click)="addBilan()">Ajouter</button>
      <button  *ngIf="!isConfirmed" type="button" (click)="confirmBilans()">Confirmer</button>
    </div>
  </div>
</div>