  <!-- <div class="container">
    <div class="header">
      <img src="../../../assets/Logo.svg" alt="">
      <app-bienvenu-component></app-bienvenu-component>
    </div>
    
    <form [formGroup]="consultationForm" (ngSubmit)="onSubmit()">
      <div class="contenu">
        <div class="ordonnance">
          <h2>ORDONNANCE</h2>
          <app-ordonnance [parentForm]="consultationForm"></app-ordonnance>
        </div>
  
        <div class="bilan">
          <h2>BILAN</h2>
          <app-bilan [parentForm]="consultationForm"></app-bilan>
        </div>
     
        <div class="resume">
          <h2>RESUME</h2>
          <app-resume [parentForm]="consultationForm"></app-resume>
        </div>
  
        <div class="buttons">
          <button type="button" class="retour">Retour</button>
          <button type="submit" [disabled]="!consultationForm.valid">
            Confirmer
          </button>
        </div>
      </div>
    </form>
  </div> -->
  <div class="container">
    <div class="header">
      <img src="../../../assets/Logo.svg" alt="">
      <app-bienvenu-component></app-bienvenu-component>
    </div>
    
    <form [formGroup]="consultationForm" (ngSubmit)="onSubmit()">
      <div class="contenu">
        <div class="ordonnance">
          <h2>ORDONNANCE</h2>
          <app-ordonnance [parentForm]="consultationForm"></app-ordonnance>
        </div>
  
        <div class="bilan">
          <h2>BILAN</h2>
          <app-bilan [parentForm]="consultationForm"></app-bilan>
        </div>
     
        <div class="resume">
          <h2>RESUME</h2>
          <app-resume [parentForm]="consultationForm"></app-resume>
        </div>
  
        <div class="buttons">
          <button type="button" class="retour">Retour</button>
          <button type="submit" [disabled]="!consultationForm.valid">
            Confirmer
          </button>
        </div>
      </div>
    </form>
  </div>
  