/* You can add global styles to this file, and also import other style files */
//visual indentity palette

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); //inter font

$primary-blue-colour : #027CC0; //used with opacity 40% for buttons 
$background-colour :  #F6F8FD;
$primary-white-colour : #FFFFFF;
$primary-font-colour : #232323;
$grey-colour : #707B81;
$drop-shadow-colour : #E7E4E8;
$primary-font : 'Inter', sans-serif ;  
$primary-font-colour: red;




