<div class="bilan-biologique-container">
  <h2>Bilan Biologique</h2>

  <div class="prescription-section">
    <h3>Prescription</h3>
    <div class="text-group">
      <div class="description-text">
          {{ prescription }}
      </div>
    </div>
  </div>

  <div class="result-section">
    <h3>Résultat</h3>
    <div class="result-fields">
      <div class="input-group">
        <label>Mesure clinique</label>
        <input
          type="text"
          [(ngModel)]="newMesure"
          placeholder="Enter measure..."
        />
      </div>
      <div class="input-group">
        <label>Valeur</label>
        <input
          type="text"
          [(ngModel)]="newValeur"
          placeholder="Enter value..."
        />
      </div>
    </div>
    <div class="add-button">
      <button class="btn" (click)="addMesure()">Ajouter</button>
    </div>
  </div>

  <div *ngIf="mesures.length" class="added-measures">
    <h3>Mesures ajoutées:</h3>
    <ul>
      <li *ngFor="let mesure of mesures">
        {{ mesure.mesure }}: {{ mesure.valeur }}
      </li>
    </ul>
  </div>

  <div class="action-buttons">
    <div class="button-group">
      <button class="btn btn-secondary" (click)="generateGraph()">Générer graphique</button>
    </div>
    <div class="button-group">
      <button class="btn btn-primary" (click)="sendToBackend()">Confirmer</button>
    </div>
  </div>

  <!-- Canvas for the graph -->
  <div *ngIf="showGraph" class="chart-container">
    <canvas #chartCanvas></canvas>
  </div>
</div>
