<div class="sidebar">
  <div class="logo">
    <img src="../../../assets/Logo.svg" alt="MedFlow">
  </div>

  <nav class="nav-menu">
    <button 
      (click)="navigateTo('/add-dpi')" 
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact: true}" 
      class="nav-item">
      <i class="manage_accounts"></i>
      Créer DPI
    </button>
    <button
    style="
      position: fixed;
      width: 150px;
      margin: 16px;
      padding: 8px 12px;
      background-color: #b20000;
      color: white;
      border: none;
      border-radius: 16px;
      cursor: pointer;
      z-index: 1000;
      margin-top:20rem;
    "
    (click)="goToHomePage()"
  >
    Déconnecter
  </button>
  </nav>
</div>
