<div class="sidebar">
    <div class="logo">
      <img src="../../../assets/Logo.svg"  alt="MedFlow">
    </div>
    
    <nav class="nav-menu">
      <a routerLink="/add-dpi" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
        <i class="manage_accounts"></i>
        Creer DPI
      </a>
     <a routerLink="/medecin-landing" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
       <img src="" alt="">
        Gestion des patients
      </a>
    </nav>
  </div>