.laborantin-page {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: #F6F8FD;
    width: 100%;
    min-height: 100vh;
  
    .main-content {
      flex: 1;

    }
    .header{
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      width: 80%;
      
    }
  
    @media (max-width: 768px) {
      flex-wrap: wrap;
  
      .main-content {
        margin-left: 0;
        padding: 10px;
      }
    }
  }
  