<div class="graphe-container">
    <h2>Générer Graphique</h2>
    <div class="result-section">
      <h3>Résultat</h3>
      <div class="chart-container">
        <canvas id="barChart"></canvas>
      </div>
    </div>
  </div>
  
     <!-- Commenting out the chart.js implementation for now. -->
<!-- <div class="graphe-container">
    <h2>Générer Graphique</h2>
    <div class="result-section">
      <h3>Résultat</h3>
      <div class="chart-container">
        <canvas baseChart
                [data]="barChartData"
                [options]="barChartOptions"
                [type]="'bar'"
                [legend]="true"
                [plugins]="[]">
        </canvas>
      </div>
    </div>
  </div> -->
  
  