<div class="container">

  <div class="header">
    <img src="../../../assets/Logo.svg" alt="Logo" />
    <button
    style="
    
      padding: 8px 12px;
      background-color: #b20000;
      color: white;
      border: none;
      border-radius: 16px;
      cursor: pointer;
      z-index: 1000;
    "
    (click)="goToHomePage()"
  >
    Déconnecter
  </button>
   
  </div>
  <div class="personnalInfo">
    <h2>INFORMATIONS PERSONNELLES</h2>
    <app-personal-info-card></app-personal-info-card>
  </div>
  <div class="consultationHistory">
    <div class="but">
      <h2>HISTORIQUE CONSULTATIONS</h2>
      <button
        *ngIf="isDoctor"
        class="nouvelle-consultation"
        (click)="handleNewConsultation()"
      >
        Nouvelle consultation
      </button>
    </div>
    <app-medical-history [nss]="patientNSS"></app-medical-history>
  </div>
  <div class="consultationHistory">
    <div class="but">
      <h2>HISTORIQUE SOINS</h2>
    </div>
    <app-soins-history [nss]="patientNSS"></app-soins-history>
  </div>
</div>
