<div class="everything">
  <div class="container">
    <app-sidebar></app-sidebar>
    <div class="main-content">
      <div class="right-side">
        <div class="topbox">
          <div class="left-side">
            <img src="/profil.png" alt="Key Icon" class="icon" />
            <p class="textbienven">Bienvenu administratif</p>
          </div>
          <div class="right-side">
            <img src="/notif.png" alt="Bell Icon" class="icon" />
            <img src="/param.png" alt="Settings Icon" class="icon" />
          </div>
        </div>
        <div class="success-popup" *ngIf="isSuccessPopupVisible" [@fadeInOut]>
          <div class="popup-content" (click)="$event.stopPropagation()">
            <span class="popup-close" (click)="closeSuccessPopup()">×</span>
            <h2 class="popup-message">DPI CREE AVEC SUCCES !</h2>
          </div>
        </div>
        <div class="box">
          <p class="text">Nouveau dossier patient</p>

          <div class="step-indicator">
            <div
              class="circle"
              [class.bg-green-500]="currentStep > 1"
              [class.text-white]="currentStep > 1"
              [class.opacity-100]="currentStep > 1"
            >
              {{ currentStep > 1 ? "✔" : "1" }}
            </div>
            <div class="line" [class.opacity-100]="currentStep > 1"></div>
            <div
              class="circle"
              [class.bg-green-500]="currentStep > 2"
              [class.text-white]="currentStep > 2"
              [class.opacity-100]="currentStep > 1"
            >
              {{ currentStep > 2 ? "✔" : "2" }}
            </div>
            <div class="line" [class.opacity-100]="currentStep > 2"></div>
            <div class="circle" [class.opacity-100]="currentStep === 3">3</div>
          </div>

          <form [formGroup]="patientForm">
            <div
              class="data-entry-container"
              *ngIf="currentStep === 1"
              formGroupName="step1"
            >
              <div class="input-box">
                <label for="prenom">Prénom</label>
                <input type="text" id="prenom" formControlName="prenom" />
              </div>
              <div class="input-box">
                <label for="nom">Nom</label>
                <input type="text" id="nom" formControlName="nom" />
              </div>
              <div class="input-box">
                <label for="dateNaissance">Date de naissance</label>
                <input
                  type="date"
                  id="dateNaissance"
                  formControlName="dateNaissance"
                />
              </div>
              <div class="input-box">
                <label for="telephone">Numéro de téléphone</label>
                <input type="tel" id="telephone" formControlName="telephone" />
              </div>
            </div>

            <div
              class="data-entry-container"
              *ngIf="currentStep === 2"
              formGroupName="step2"
            >
              <div class="input-box">
                <label for="securiteSociale">Numéro de sécurité sociale</label>
                <input
                  type="text"
                  id="securiteSociale"
                  formControlName="securiteSociale"
                />
              </div>
              <div class="input-box">
                <label for="mutuelle">Mutuelle</label>
                <input type="text" id="mutuelle" formControlName="mutuelle" />
              </div>
              <div class="input-box">
                <label for="medecin">Adresse</label>
                <input type="text" id="medecin" formControlName="medecin" />
              </div>
              <div class="input-box">
                <label for="personneContact">Nom de la personne à contacter</label>
                <input
                  type="text"
                  id="personneContact"
                  formControlName="personneContact"
                />
              </div>
              <div class="input-box">
                <label for="profession">Prenom de la personne à contacter</label>
                <input
                  type="text"
                  id="profession"
                  formControlName="profession"
                />
              </div>
              <div class="input-box">
                <label for="assurance">Telephone de la personne à contacter</label>
                <input type="text" id="assurance" formControlName="assurance" />
              </div>
            </div>

            <div class="data-entry-container" *ngIf="currentStep === 3">
              <div class="summary-container">
                <div class="summary-item">
                  <span class="label">Nom : </span>
                  <span class="value">{{ getFormData().nom }}</span>
                </div>
                <div class="summary-item">
                  <span class="label">Prénom : </span>
                  <span class="value">{{ getFormData().prenom }}</span>
                </div>
                <div class="summary-item">
                  <span class="label">Date de naissance : </span>
                  <span class="value">{{ getFormData().dateNaissance }}</span>
                </div>
                <div class="summary-item">
                  <span class="label">Numéro de téléphone : </span>
                  <span class="value">{{ getFormData().telephone }}</span>
                </div>
                <div class="summary-item">
                  <span class="label">Numéro de sécurité sociale : </span>
                  <span class="value">{{ getFormData().securiteSociale }}</span>
                </div>
                <div class="summary-item">
                  <span class="label">Médecin : </span>
                  <span class="value">{{ getFormData().medecin }}</span>
                </div>
                <div class="summary-item">
                  <span class="label">Spécialité : </span>
                  <span class="value">Ophtalmologue</span>
                </div>
              </div>
            </div>

            <div
              class="button-container"
              [ngClass]="{ 'single-button': currentStep === 1 }"
            >
              <button
                class="button retour"
                (click)="goToPreviousStep()"
                *ngIf="currentStep > 1"
              >
                Retour
              </button>
              <button
                class="button suivant"
                (click)="currentStep === 3 ? onValidate() : goToNextStep()"
                [disabled]="!isStepComplete()"
              >
                {{ getButtonText() }}
              </button>
            </div>
          </form>
        </div>
        <div class="vide"></div>
      </div>
      <div class="vide"></div>
    </div>
  </div>
</div>
