<form [formGroup]="patientCareForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="header">
            <img src="../../../assets/Logo.svg" alt="Logo">
            <app-bienvenu-component></app-bienvenu-component>
        </div>
        
        <div class="nss">
            <h2>REDACTION DES SOINS</h2>
            <input type="text" formControlName="nss" placeholder="NSS correspondant...">
        </div>
        
        <div class="soins">
            <div class="Etat">
                <h2>Etat du patient</h2>
                <textarea formControlName="etatPatient"></textarea>
            </div>
            
            <div class="Medicaments">
                <h2>Médicaments prodigués au patient</h2>
                <textarea formControlName="medicaments"></textarea>
            </div>
            
            <div class="autres">
                <h2>Autres</h2>
                <textarea formControlName="autres"></textarea>
            </div>
        </div>
        <div class="but">
            <button type="submit" [disabled]="!patientCareForm.valid">Soumettre</button>
        </div>
    </div>
</form>