.container{
  background-color: #F6F8FD;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
.nss{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  width: 100%;
  max-width: 92%;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 2px solid #666666;

  h2{
    font-family: 'Inter',sans-serif;
    font-size: 22px;
    color: #666666;
    font-weight: 600;
  }
  
  input{
    padding: 0.75rem;
    border-radius: 16px;
    min-width: 410px;
    outline: none;
    box-shadow: 0px 4px 24px rgba(231, 228, 232, 0.5);
  };


}
.soins{
  display: flex;
  flex-direction: column;
  max-width: 92%;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  margin-bottom: 3rem;
 

  h2{
    font-family: 'Inter',sans-serif;
    color: #707B81;
    font-size: 16px;
    border-bottom: 2px solid #E6EFF5;

  }
  textarea{
    padding: 0.75rem;
    margin-top: 1rem;
    border-radius: 16px;
    outline: none;
    width: 100%;
    box-shadow: 0px 4px 24px rgba(231, 228, 232, 0.5);
  }
  
}
.Etat .Medicaments .autres{
  margin-bottom : 6rem;
}
.but{
  min-width: 100%;
  padding-right: 2.5rem;
 text-align: right;
 margin-bottom: 5rem;
}

button {
  text-align: right;
  background-color: #119ae4;
  color : white;
  min-width: 150px;
  min-height: 45px;
  text-align: center;
  border-radius: 16px;
 
  
}