<form id="patientCareForm" onsubmit="event.preventDefault(); alert('Form submitted!');">
    <div class="container">
        <div class="header">
            <img src="../../../assets/Logo.svg" alt="Logo">
            <app-bienvenu-component></app-bienvenu-component>
        </div>
        
        <div class="nss">
            <h2>REDACTION DES SOINS</h2>
            <input type="text" placeholder="NSS correspondant..." required>
        </div>
        
        <div class="soins">
            <div class="Etat">
                <h2>Etat du patient</h2>
                <textarea required></textarea>
            </div>
            
            <div class="Medicaments">
                <h2>Médicaments prodigués au patient</h2>
                <textarea required></textarea>
            </div>
            
            <div class="autres">
                <h2>Autres</h2>
                <textarea required></textarea>
            </div>
        </div>
        <div class="but"> <button type="submit">Soumettre</button></div>
       
    </div>
</form>